# Coding Exercises (Part 1)

Now, you will have the opportunity to practice what you have learned. <br>
__Follow the instructions__ and insert your code!

The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need some help or if you want to check your code, you can also have a look at the __solutions__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Exercise 3: Integers, Floats, Lists and built-in functions

1. __Create and save objects__ of your choice with the following __data types__. Check the data type with the appropriate function!

integer

In [ ]:
a = 10

float

In [ ]:
a_float = float(a)

In [ ]:
a_float

10.0

string

In [ ]:
a_string = str(a)

In [ ]:
a_string

'10'

bool

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool(125)

True

In [ ]:
bool('string')

True

In [ ]:
bool("")

False

In [ ]:
bool(" ")

True

2. Determine the __sum__, the __number of elements__ and __maximum value__ in list l. Use __built-in functions__!

In [ ]:
# run the cell
l = [-300, 40, 140, -430, 85, 280, 0, -560, 340]

In [ ]:
#sum
sum(l)

-405

(result: -405)

In [ ]:
#number of elements
len(l)

9

(result: 9)

In [ ]:
#maximum
max(l)

340

(result: 340)

3. Determine the __number of elements__ and __the alphabetically first value__ in string s. Use __built-in functions__!

In [ ]:
#run the cell
s = "myrmecophilous"

In [ ]:
#number of elements
len(s)

14

(result: 14)

In [ ]:
#alphabetically first value
min(s)

'c'

(result: "c")

In [ ]:
max(s)

'y'

4. __Check__ whether the following equation is __True__ in Python: 0.2 + 0.2 + 0.2 = 0.6

In [ ]:
0.2 +0.2 + 0.2 == 0.6

False

5. Get the __first 20 decimals__ of 0.2 and 0.6 and explain the result of exercise 4.

In [ ]:
format(0.2 , "0.20f")

'0.20000000000000001110'

(result: '0.20000000000000001110')

In [ ]:
format(0.6,"0.20f")

'0.59999999999999997780'

(result: '0.59999999999999997780')

6. __Round__ 1.56456 to __2 decimals__! Check the __first 20 decimals__ of the rounded float. Does rounding guarantee exact numbers in Python?

In [ ]:
round(1.56456,2)

1.56

(result: 1.56)

In [ ]:
format(round(1.56456,2),"0.20f")

'1.56000000000000005329'

(result: '1.56000000000000005329')

7. __Round__ 2,320,576 to the next __multiple of 1,000__!

In [ ]:
round(2320576,-3) #

2321000

(result: 2321000)

We have the list cf with cashflows starting today until year 6:

In [ ]:
# run the cell
cf = [-2000, 200, 300, 500, 750, 1000, 1500]
cf

[-2000, 200, 300, 500, 750, 1000, 1500]

8. Create the following __slices__ of cf:

first two elements

In [ ]:
cf[:2]

[-2000, 200]

the elements 300, 500 and 750

In [ ]:
cf[cf.index(300):cf.index(750)+1]

[300, 500, 750]

the last three elements

In [ ]:
cf[-3:]

[750, 1000, 1500]

all elements, except the last element

In [ ]:
cf[:-1]

[-2000, 200, 300, 500, 750, 1000]

every second element (starting from first element)

In [ ]:
cf[::2]

[-2000, 300, 750, 1500]

9. __Add__ the cashflow 1200 for year 7 to list cf. __Change__ cf in memory!

In [ ]:
cf.append(1200)

In [ ]:
cf

[-2000, 200, 300, 500, 750, 1000, 1500, 1200]

10. __Change__ the cashflow in t2 (300) to 400. __Change__ cf in memory!

In [ ]:
cf[cf.index(300)] = 400

In [ ]:
cf

[-2000, 200, 400, 500, 750, 1000, 1500, 1200]

11. __Remove__ the last three years of cf (with slicing and variable reassignment )

In [ ]:
cf = cf[:-3]

In [ ]:
cf

[-2000, 200, 400, 500, 750]

12. __Add 20__ to each and every element of cf. Create the new list __cf_new__!

In [ ]:
cf_new = []
for i in cf:
  cf_new.append(i+20)
print(cf_new)

[-1980, 220, 420, 520, 770]

(result: [-1980, 220, 420, 520, 770])

13. __Sort__ cf_new from __high to low__! __Change__ cf_new in memory!

In [ ]:
cf_new.sort(reverse = True)

In [ ]:
cf_new

[770, 520, 420, 220, -1980]

(result: [770, 520, 420, 220, -1980])

Initially, we have two projects with identical cashflows:

In [ ]:
#run the cell
cf1 = [-50, 10, 30, 50]
cf2 = cf1

Then, the first cashflow of project 1 changes to -60.

In [ ]:
#run the cell
cf1[0] = -60
cf1

[-60, 10, 30, 50]

14. Check, whether __cf2 changed__ as well!

In [ ]:
cf2

[-60, 10, 30, 50]

15. __Rewrite__ the above code and make sure that __cf2 does not change__! Follow __best practices__!

In [ ]:
cf2 = cf1.copy()
print(cf1, cf2)

[-50, 10, 30, 50] [-50, 10, 30, 50]

In [ ]:
cf1[0] = -60
cf1

[-60, 10, 30, 50]

In [ ]:
print(cf1, cf2)

[-60, 10, 30, 50] [-50, 10, 30, 50]

# Well Done!