# Coding Exercises (Part 1)

Now, you will have the opportunity to practice what you have learned. <br>
__Follow the instructions__ and insert your code!

The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need some help or if you want to check your code, you can also have a look at the __solutions__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Exercise 4: Tuples, Dictionaries, Strings, Booleans & Operators

1. __Create and save a tuple__ with the elements 100, 0.03 and 103!

In [ ]:
tuple_1= (100,0.03,103)

2. __Index__ the tuple for the second element (0.03)

In [ ]:
tuple_1[1]

0.03

3. Try to __change__ the third element to 106.09. Are tuples __mutable__?

In [ ]:
tuple_1[2] = 106.09

TypeError: 'tuple' object does not support item assignment

4. Create and save a __dictionary__ with two Country/Capital Pairs of your choice (e.g. France/Paris)

In [ ]:
country_dict = {}
country_dict["Country"] = ["France", "Canada"]
country_dict["Capital"] = ["Paris" , "Ottawa"]

In [ ]:
for i in range(len(country_dict)):
  print("{} is the capital of {}.".format(country_dict["Capital"][i],country_dict["Country"][i]))

Paris is the capital of France.
Ottawa is the capital of Canada.

5. __Return__ the Capital for one country of your choice.

In [ ]:
len(country_dict)

2

6. __Iterate__ over your dictionary and __print__ for each key, value pair the following statement: __"XYZ is the capital of ABC:". Use string replacement!__

In [ ]:
for k in country_dict.keys():
  print("{} is the capital of {}:".format(country_dict[k][0],country_dict[k][1]))

France is the capital of Canada:
Paris is the capital of Ottawa:

7. __Save__ the following string in memory: "US growth rate eases to 1.9% in the third quarter."

In [ ]:
my_string = "US growth rate eases to 1.9% in the third quarter."

8. __Index__ the string for the second last character.

In [ ]:
my_string[-2:]

'r.'

9. Convert the string to __uppercase__. __Reassign__ your variable!

In [ ]:
my_string.upper()

'US GROWTH RATE EASES TO 1.9% IN THE THIRD QUARTER.'

9. Check whether __a is greater than b__.

In [ ]:
# run the cell!
a = 5**12
b = 4564 * 56750

In [ ]:
a > b

False

10. Check whether __c is not equal to d__.

In [ ]:
# run the cell!
c = 12**5
d = 31104 * 8

In [ ]:
c is not d

True

In [ ]:
c != d

False

We have the following code:

In [ ]:
# run the cell!
cf1 = [100, 200]
cf2 = cf1
cf3 = [100, 200]

11. Check whether __cf1 and cf2 are equal__.

In [ ]:
cf1 == cf2

True

12. Check whether __cf3 and cf2__ are referencing to the very __same object__!

In [ ]:
cf3 is cf2

False

13. Check whether __at least one condition is met__.

In [ ]:
# run the cell!
condition_1 = 45754 % 3 == 0 #45754 divisible by 3
condition_1

False

In [ ]:
# run the cell!
condition_2 = 45754 > 63 * 650 #45754 greater than 63 * 650
condition_2

True

In [ ]:
condition_1 or condition_2

True

14. Check whether __both conditions are met__.

In [ ]:
# run the cell!
condition_3 = 172578 % 7 == 0 #172578 divisible by 7

In [ ]:
# run the cell!
condition_4 = 172578 < 43145 * 4 #172578 less than 43145 * 4

15. Does the following Code return __True or False__?

In [ ]:
# run the cell to check
not((4 != 3) or not(type(23) == int))

False

# Well Done!

# Coding Exercises (Part 1)

Now, you will have the opportunity to practice what you have learned. <br>
__Follow the instructions__ and insert your code!

The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need some help or if you want to check your code, you can also have a look at the __solutions__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Exercise 4: Tuples, Dictionaries, Strings, Booleans & Operators

1. __Create and save a tuple__ with the elements 100, 0.03 and 103!

In [ ]:
tuple_1= (100,0.03,103)

2. __Index__ the tuple for the second element (0.03)

In [ ]:
tuple_1[1]

0.03

3. Try to __change__ the third element to 106.09. Are tuples __mutable__?

In [ ]:
tuple_1[2] = 106.09

TypeError: 'tuple' object does not support item assignment

4. Create and save a __dictionary__ with two Country/Capital Pairs of your choice (e.g. France/Paris)

In [ ]:
country_dict = {}
country_dict["Country"] = ["France", "Canada"]
country_dict["Capital"] = ["Paris" , "Ottawa"]

In [ ]:
for i in range(len(country_dict)):
  print("{} is the capital of {}.".format(country_dict["Capital"][i],country_dict["Country"][i]))

Paris is the capital of France.
Ottawa is the capital of Canada.

5. __Return__ the Capital for one country of your choice.

In [ ]:
len(country_dict)

2

6. __Iterate__ over your dictionary and __print__ for each key, value pair the following statement: __"XYZ is the capital of ABC:". Use string replacement!__

In [ ]:
for k in country_dict.keys():
  print("{} is the capital of {}:".format(country_dict[k][0],country_dict[k][1]))

France is the capital of Canada:
Paris is the capital of Ottawa:

7. __Save__ the following string in memory: "US growth rate eases to 1.9% in the third quarter."

In [ ]:
my_string = "US growth rate eases to 1.9% in the third quarter."

8. __Index__ the string for the second last character.

In [ ]:
my_string[-2:]

'r.'

9. Convert the string to __uppercase__. __Reassign__ your variable!

In [ ]:
my_string.upper()

'US GROWTH RATE EASES TO 1.9% IN THE THIRD QUARTER.'

9. Check whether __a is greater than b__.

In [ ]:
# run the cell!
a = 5**12
b = 4564 * 56750

In [ ]:
a > b

False

10. Check whether __c is not equal to d__.

In [ ]:
# run the cell!
c = 12**5
d = 31104 * 8

In [ ]:
c is not d

True

In [ ]:
c != d

False

We have the following code:

In [ ]:
# run the cell!
cf1 = [100, 200]
cf2 = cf1
cf3 = [100, 200]

11. Check whether __cf1 and cf2 are equal__.

In [ ]:
cf1 == cf2

True

12. Check whether __cf3 and cf2__ are referencing to the very __same object__!

In [ ]:
cf3 is cf2

False

13. Check whether __at least one condition is met__.

In [ ]:
# run the cell!
condition_1 = 45754 % 3 == 0 #45754 divisible by 3
condition_1

False

In [ ]:
# run the cell!
condition_2 = 45754 > 63 * 650 #45754 greater than 63 * 650
condition_2

True

In [ ]:
condition_1 or condition_2

True

14. Check whether __both conditions are met__.

In [ ]:
# run the cell!
condition_3 = 172578 % 7 == 0 #172578 divisible by 7

In [ ]:
# run the cell!
condition_4 = 172578 < 43145 * 4 #172578 less than 43145 * 4

15. Does the following Code return __True or False__?

In [ ]:
# run the cell to check
not((4 != 3) or not(type(23) == int))

False

# Well Done!